.header {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.yt-icon {
    height: 24px;
}

.middle-section {
    display: flex;
    flex: 1;
    max-width: 700px;
    margin-left: 70px;
    margin-right: 30px;
    align-items: center;
}

.search-bar {
    flex: 1;
    width: 0;
    height: 47px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(192, 192, 192);
    font-size: 24px;
    padding-left: 24px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
    font-family: "Roboto", Arial;
    font-size: 24x;
}

.search-icon {
    margin-top: 4px;
    width: 60px;
    height: 36px;
}

.search-button {
    border: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    margin-left: -1px;

}

.voice-button {
    width: 50px;
    height: 50px;
    border: none;       
    border-radius: 50%;
    margin-left: 10px;
   
}

.right-section {
    display: flex;
    width: 250px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon {
    width: 40px;
    height: 40px;
}

.apps-icon {
    width: 40px;
    height: 40px;
}

.notif-icon {
    width: 40px;
    height: 40px;
}

.channel-profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 24px;
}

.notif-number {
    background-color: rgb(195, 0, 0);
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -5px;
    height: 16px;
    width: 16px;
    padding: 5px 5px;
    font-family: "Roboto", Arial;
    font-weight: bold;
    font-size: 14px;
    border-color: white;
}

.search-button,
.voice-button,
.create-tool,
.apps-tool,
.notif-tool {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
}

.search-button .tooltip,
.voice-button .tooltip,
.create-tool .tooltip,
.apps-tool .tooltip,
.notif-tool .tooltip  {
    font-family: "Roboto", Arial;
    position: absolute;
    background-color: grey;
    color: white;
    padding: 5px 8px;
    white-space: nowrap;
    bottom: -30px;
    border-radius: 2px;
    font-size: 12px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}   

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.create-tool:hover .tooltip,
.apps-tool:hover .tooltip,
.notif-tool:hover .tooltip {
    opacity: 1;
    transition: opacity 0.15s;
}

