.sidebar {
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 150px;
    z-index: 100;
}
    

.sidebar-icons img {
    width: 40px;
    height: 40px;
    object-fit: fill;
}

.sidebar-icons p {
    font-family: "Roboto", Arial;
    font-size: 16px;
    margin-top: 8px;
}

.sidebar-icons {
    display: flex;
    width: 120px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    align-items: center;
    cursor: pointer;
   
}

.sidebar-icons:hover {
    background-color: lightgrey;
}

.sidebar-description {
   
}

@media (min-width: 800px){
    .sidebar {
    width: 250px;
    }
    .sidebar-icons {
        align-items: center;
        justify-content: start;
        flex-direction: row;
        padding-left: 20px;
        width: 230px;
    }

}
