.sidebar {
    background-color: white;
    position: fixed;
    top: 70px;
    left: 0px;
    bottom: 0px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 150px;
    
    z-index: 100;
}
    

.sidebar-icons img {
    width: 40px;
    height: 40px;
    object-fit: fill;
}

.sidebar-icons p {
    font-family: "Roboto", Arial;
    font-size: 16px;
    margin-top: 8px;
}

.sidebar-icons {
    display: flex;
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    cursor: pointer;
}

.sidebar-icons:hover {
    background-color: lightgrey;
}