.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

@media (max-width: 750px){
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media ((max-width: 749px) and (min-width: 999px)){
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}





.video-info-grid {
    display: grid;
    grid-template-columns: 55px 1fr;
}

.video-preview {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.thumbnail {
    position: relative;
}

.thumbnail img {
    width: 100%;
}

.channel-profile img {
    width: 40px;
    border-radius: 50%; 
}

.video-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.author {
    color: #606060; 
    margin-bottom: 3px;
    text-decoration: none;
}

.video-stats {
    color: #606060; 
}

.timestamp {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    bottom: 20px;
    right: 20px;
    font-family: "Roboto", Arial;
    padding: 3px 6px;
    border-radius: 2px;
}

a {
    text-decoration: none;
}

.channel-profile {
    position: relative;
}

.channel-preview img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.channel-name {
    font-weight: bold;
}

.channel-preview {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    grid-template-columns: 100px 1fr;
    z-index: 50;
    background-color: white;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    cursor: pointer;
    opacity: 0
}

.channel-profile:hover .channel-preview {
    opacity: 1;
    transition: opacity 0.15s;
}